/* Print User */

.printuser {
  a {
    display: inline-block;
    margin: 0 .25rem 0 0;
  }
  
  img {
    &.small {
      height: 18px;
      margin: 0;
      padding: 1px 9px 1px 8px;
      vertical-align: middle;
      width: 33px;
    }
  }
}