/* Wikidot Login Status */

#login-status {
  font-size: 0;
  line-height: 1;
  text-align: center;
  
  .printuser {
    background: #f1f3f5;
    border: solid 1px #ced4da;
    height: calc(1.5rem + 2px);
    font-size: 1rem;
    padding: .25rem;
  }
}

#my-account {
  display: none;
}

#account-topbutton {
  background: #f1f3f5;
  border: solid 1px #ced4da;
  height: calc(1.5rem + 2px);
  font-size: 1rem;
  margin: 0;
  padding: .25rem;
  width: calc(1.5rem + 2px);
}

#account-options {
  background: #f1f3f5;
  border: solid 1px #ced4da;
  font-size: 1rem;
  width: 100%;
  
  li {
    a {
      padding: .25rem;
      text-decoration: none;
      
      &:hover {
        background: #dee2e6;
      }
    }
  }
}
