@keyframes logo-origin {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -45000px 0px;
    }
}

.animsvg-logo-origin {
    animation-duration: 2500ms;
    animation-timing-function: steps(150);
    animation-fill-mode: forwards;
    width: 300px;
    height: 259px;
    background-repeat: no-repeat;
}

.animsvg-logo-origin.play {
    animation-name: logo-origin;
    background-image: url('http://files.ukwhatn.xyz/rpc/vector/animated/animsvg-logo-origin/vector.svg');
}
