#header {
  height: 10rem;
  margin: 0 auto .5rem;
  padding: 0;
  position: relative;
  width: 100%;
  
  h1,
  h2 {
    font-weight: 700;
    line-height: 1;
    margin: 0 auto;
    max-width: 63rem;
    
    span {
      vertical-align: middle;
    }
  }
  
  h1 {
    height: 3rem;
    transform: translate(0, 2rem);
    
    a {
      display: inline-block;
      height: inherit;
    }
  }
  
  h2 {
    font-size: 1rem;
    height: 1rem;
    transform: translate(0, 2.5rem);
  }
}