@keyframes logo-jp {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -63000px 0px;
    }
}

.animsvg-logo-jp {
    animation-duration: 3500ms;
    animation-timing-function: steps(210);
    animation-fill-mode: forwards;
    width: 300px;
    height: 259px;
    background-repeat: no-repeat;
}

.animsvg-logo-jp.play {
    animation-name: logo-jp;
    background-image: url('http://files.ukwhatn.xyz/rpc/vector/animated/animsvg-logo-jp/vector.svg');
}


