%GlobalHeader {
  margin: 0 0 1rem;
  position: relative;
  z-index: 400;
  
  @media screen and (min-width: 0) and (max-width: 480px) {
    height: 4rem;
  }
  
  @media screen and (min-width: 481px) {
    height: 8rem;
  }
  
  &__SiteTitle,
  &__Motto {
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
    padding: 0 1rem;
  }
  
  &__SiteTitle {
    @media screen and (min-width: 0) and (max-width: 480px) {
      font-size: 2rem;
    }

    @media screen and (min-width: 481px) {
      font-size: 2.5rem;
    }
  }
  
  &__Motto {
    font-size: 1rem;
  }
}

%GlobalNavigation {
  position: absolute;
  z-index: 440;
  
  @media screen and (min-width: 0) and (max-width: 480px) {
    height: 4rem;
    top: 0;
    right: 0;
    width: 4rem;
  }
  
  @media screen and (min-width: 481px) {
    bottom: 0;
    height: 1.5rem;
    width: 100%;
  }
  
  &__TabBar {
    margin: 0 auto;
    max-width: 980px;
  }
}

#header {
  @extend %GlobalHeader;
  
  h1 {
    @extend %GlobalHeader__SiteTitle;
  }
  
  h2 {
    @extend %GlobalHeader__Motto;
  }
}

#top-bar {
  @extend %GlobalNavigation;
  
  ul {
    @extend %GlobalNavigation__TabBar;
  }
}

#search-top-box,
#login-status {
  display: none;
}