%Main {
  display: flex;
  margin: 0 auto 1rem;
  max-width: 980px;
}

%LocalNavigation,
%Article {
  padding: 0 1rem;
  
  @media screen and (min-width: 0) and (max-width: 480px) {
    width: 100%;
  }
}

%LocalNavigation {
  @media screen and (min-width: 0) and (max-width: 480px) {
    display: none;
  }
  
  @media screen and (min-width: 481px) {
    width: calc(100% / 12 * 3);
  }
}

%Article {  
  @media screen and (min-width: 481px) {
    width: calc(100% /12 * 9);
  }
  
  &__Title {
    border-bottom: 1px solid;
    line-height: 1.25;
    margin: 0 0 1rem;
    padding: 0 0 .25rem;

    @media screen and (min-width: 0) and (max-width: 480px) {
      font-size: 2rem;
    }

    @media screen and (min-width: 481px) {
      font-size: 2.5rem;
    }
  }
  
  &__Breadcrumbs {
    margin: -.5rem 0 1rem;
  }
  
  &__Section {
    margin: 0 0 1rem;
  }
}

#content-wrap {
  @extend %Main;
}

#side-bar {
  @extend %LocalNavigation;
}

#main-content {
  @extend %Article;
}

#page-title {
  @extend %Article__Title;
}

#breadcrumbs {
  @extend %Article__Breadcrumbs;
}

#page-content {
  @extend %Article__Section;
}